<%= form_with model: @book do |form| %>
  <div style="margin-bottom: 10px;">
    <%= form.label :title, class: "form-label", style: "font-weight: bold; color: seagreen;" %><br>
    <%= form.text_field :title, class: "form-control", style: "width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;" %>
  </div>
  <div style="margin-bottom: 10px;">
    <%= form.label "Publishing Year", class: "form-label", style: "font-weight: bold; color: seagreen;" %><br>
    <%= form.text_field :year_published, class: "form-control", style: "width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;" %>
  </div>
  <div style="margin-bottom: 10px;">
    <%= form.label :ISBN, class: "form-label", style: "font-weight: bold; color: seagreen;" %><br>
    <%= form.text_field :isbn, class: "form-control", style: "width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;" %>
  </div>
  <div style="margin-bottom: 10px;">
    <%= form.label :Price, class: "form-label", style: "font-weight: bold; color: seagreen;" %><br>
    <%= form.text_field :price, class: "form-control", style: "width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;" %>
  </div>
  <div style="margin-bottom: 10px;">
    <%= form.label :Views, class: "form-label", style: "font-weight: bold; color: seagreen;" %><br>
    <%= form.text_field :views, class: "form-control", style: "width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;" %>
  </div>
  <div style="margin-bottom: 10px;">
    <%= form.label :Available, class: "form-label", style: "font-weight: bold; color: seagreen;" %><br>
    <%= form.text_area :out_of_print, class: "form-control", style: "width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;" %>
  </div>
  <div>
    <%= form.submit "Submit", class: "btn btn-primary", style: "background-color: seagreen; color: white; border: none; padding: 10px 20px; border-radius: 4px; font-size: 16px; cursor: pointer;" %>
  </div>
<% end %>
